<center> 
    <h1> 
        Data Camp Project

 <center>
    <h1> 
        Simple Data Pre-Processing

<div style="text-align: right">
    <em>
        Some merging & pre-processing or our raw data to prevent polluting the notebook presenting the challenge
    </em>
</div>

In [2]:
import pandas as pd

### Loading raw data

In [3]:
raw_data = pd.read_csv(r'C:\Users\basti\DataCamp\Projet_Groupe_vclean\data\2_raw_data\raw_final_dataset.csv')

### Deleting unecessary columns and renaming useful ones

In [4]:
data_inst = raw_data.drop(columns = ['Links to publication', 'Links to profile', 'Account description',
                       'Verified Status'])
data_inst.columns = ['influencer','pr_activity','num_posts','num_followers','num_followings','post_description',
             'num_comments','num_likes','posting_date','media_type']

data_inst = data_inst.reset_index(drop=True)
print(data_inst.shape)
data_inst.head(3)

(26123, 10)

,influencer,pr_activity,num_posts,num_followers,num_followings,post_description,num_comments,num_likes,posting_date,media_type
0,Cristiano Ronaldo,Footballeur,2 982 publications,253 140 888,459,Another week of playing inside and staying act...,22995,15 023 301,2020-04-11T09:02:26.000Z,Video
1,Cristiano Ronaldo,Footballeur,2 982 publications,253 140 888,459,We wish a Happy Easter to everyone üåç‚ù§Ô∏èüôè\r\n#st...,62374,9 661 590,2020-04-12T13:18:16.000Z,Photo
2,Cristiano Ronaldo,Footballeur,2 982 publications,253 140 888,459,".\r\n\r\nKids, let the Dad do his work ü§∑üèª‚Äç‚ôÇÔ∏è‚ù§Ô∏è...",108402,43 462 083,2020-04-13T12:57:43.000Z,Video

### Cleaning the rows

In [5]:
def clean(row):
    return str(row).replace(",","").replace(" ","")

data_inst['num_likes'] = data_inst['num_likes'].apply(clean).astype(int)  
data_inst['num_comments'] = data_inst['num_comments'].astype(int)
data_inst['num_followers'] = data_inst['num_followers'].apply(clean).astype(int)  
data_inst['num_followings'] = data_inst['num_followings'].apply(clean).astype(int) 
data_inst['num_posts'] = data_inst['num_posts'].apply(lambda x : x.replace("publications",""))
data_inst['num_posts'] = data_inst['num_posts'].apply(lambda x : x.replace("posts",""))
data_inst['num_posts'] = data_inst['num_posts'].apply(clean)

### Re-organizing professional activities

In [6]:
data_inst['pr_activity'] = data_inst['pr_activity'].apply(lambda x : x.lower())
data_inst['pr_activity'] = data_inst['pr_activity'].apply(lambda x : x.replace(' et ',''))
data_inst['pr_activity'] = data_inst['pr_activity'].apply(lambda x : x.replace('cienne','cien'))
data_inst['pr_activity'] = data_inst['pr_activity'].apply(lambda x : x.replace('trice','teur'))
data_inst['pr_activity'] = data_inst['pr_activity'].apply(lambda x : x.replace('com√©dienne','acteur'))
data_inst['pr_activity'] = data_inst['pr_activity'].replace({'footballeur':'Athlete',
                                        'joueur de basket-ball':'Athlete','acteur':'Actor',
                                        'acteurcatcheur professionnel':'Actor''musicienacteur':'Musician',
                                        'joueur de cricket':'Athlete','ex-footballeur':'Athlete',
                                        'acteurmusicien':'Actor','mod√®le':'Model','musicien':'Musician',
                                         'personnalit√© de t√©l√©r√©alit√©mod√®le': 'TV Star',
                                         'personnalit√© de t√©l√©r√©alit√©':'TV Star'})

In [7]:
data_inst['pr_activity'].unique()

array(['Sportif', 'Musicien/Musicienne', 'Acteur/Actrice',
       'Personnalit√© de t√©l√©r√©alit√©', 'Marque', 'Mod√®le', 'r√©seau social'],
      dtype=object)

### Deleting brands and institutions

In [8]:
data_inst = data_inst[data_inst['pr_activity']!='Marque']
data_inst = data_inst[data_inst['pr_activity']!='r√©seau social']

In [9]:
data_inst.shape

(21537, 10)

In [10]:
data_inst['influencer'].unique()

array(['Cristiano Ronaldo', 'Ariana Grande', 'Dwayne Johnson',
       'Kylie Jenner', 'Selena Gomez', 'Kim Kardashian', 'Lionel Messi',
       'Beyonc√©', 'Justin Bieber', 'Kendall Jenner', 'Neymar Jr',
       'Taylor Swift', 'Jennifer Lopez', 'Nicki Minaj',
       'Khlo√© Kardashian', 'Miley Cyrus', 'Katy Perry',
       'Kourtney Kardashian', 'Kevin Hart', 'Demi Lovato',
       'Ellen DeGeneres', 'Rihanna', 'Virat Kohli', 'Zendaya', 'Cardi B',
       'LeBron James', 'Chris Brown', 'Drake', 'Shakira', 'Vin Diesel',
       'David Beckham', 'Gigi Hadid', 'Justin Timberlake',
       'Priyanka Chopra', 'Emma Watson', 'Shawn Mendes', 'Dua Lipa',
       'Shraddha Kapoor', 'Maluma', 'Snoop Dogg'], dtype=object)

### Timing features extraction

In [35]:
data_inst['posting_date'] = pd.to_datetime(data_inst["posting_date"])
data_inst['year'] = data_inst['posting_date'].dt.year
data_inst['month'] = data_inst['posting_date'].dt.month
data_inst['day'] = data_inst['posting_date'].dt.day
data_inst['hour'] = data_inst['posting_date'].dt.hour
data_inst['Day_week'] = data_inst['posting_date'].dt.day_name()
data_inst = data_inst.drop(columns = ['posting_date'])

In [37]:
print(data_inst.shape)
data_inst.head(5)

(21537, 14)

,influencer,pr_activity,num_posts,num_followers,num_followings,post_description,num_comments,num_likes,media_type,year,month,day,hour,Day_week
0,Cristiano Ronaldo,Sportif,2982,253140888,459,Another week of playing inside and staying act...,22995,15023301,Video,2020,4,11,9,Saturday
1,Cristiano Ronaldo,Sportif,2982,253140888,459,We wish a Happy Easter to everyone üåç‚ù§Ô∏èüôè\r\n#st...,62374,9661590,Photo,2020,4,12,13,Sunday
2,Cristiano Ronaldo,Sportif,2982,253140888,459,".\r\n\r\nKids, let the Dad do his work ü§∑üèª‚Äç‚ôÇÔ∏è‚ù§Ô∏è...",108402,43462083,Video,2020,4,13,12,Monday
3,Cristiano Ronaldo,Sportif,2982,253140888,459,Feeling very thankful to have my mum home from...,62612,9435202,Photo,2020,3,28,23,Saturday
4,Cristiano Ronaldo,Sportif,2982,253140888,459,"In this difficult moment for the whole world, ...",67666,9668361,Photo,2020,3,30,12,Monday

### Export

In [38]:
export_csv = data_inst.to_csv (r'C:\Users\basti\DataCamp\Projet_Groupe_vclean\data\3_clean_data\data_inst.csv', index = None, header=True)